[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/kt-venv/bin/uwsgi -i /home/ubuntu/deploy/aivle-ai-team10-be-webserver/.config/uwsgi/bigproject.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target