.slider-container {
    position: relative;
    width: 100%;
    height: 295px;
    overflow: hidden;
    }
    
    .slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
    }
    
    .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    
    .dot-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    }
    
    .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 5px;
    cursor: pointer;
    }
    
    .dot.active {
    background-color: black;
    }